<template>
	<div class="container-nuxt">
		<div>
			<logo />
			<h1 class="title">wordcamp-nuxt</h1>
			<h2 class="subtitle">WordCamp Nuxt.js demo by<br/> Rory Heaney - Fancy Squares</h2>
		</div>
	</div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
	components: {
		Logo
	}
};
</script>

<style>

.container-nuxt {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title {
	font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	display: block;
	font-weight: 300;
	font-size: 100px;
	color: #35495e;
	letter-spacing: 1px;
}

.subtitle {
	font-weight: 300;
	font-size: 42px;
	color: #526488;
	word-spacing: 5px;
	padding-bottom: 15px;
}

.links {
  	padding-top: 15px;
}
</style>
